option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 20  # Increase timeout to 20 minutes
    
container_commands:
  00_npm_install:
    command: "npm install"
    cwd: "/var/app/staging"
  01_npm_start:
    command: "NODE_ENV=prod node server.js"
    leader_only: true
    cwd: "/var/app/staging"